/* heading 2 */
h2{
  color: black;
}

/* form for user view page */
form {
  color:black;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  align-items: right 0;
  background-color: #96858f ;/*the background-color for the dropdown menu*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d4d4dc}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #bebec6;
}
/* dropdown button */
.dropbtn {
  background-color: #d4d4dc;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;

}