<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstraprapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0#263XmFcJlSAwiGgFAW/dAiS6jXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
</head>
<body>
    <div id="wrapper">
        <!-- header  -->
        {%include "header.html" %}
        <!-- nav bar-->
        {%include "navigation.html" %}
        <!-- child template -->
        {%block content%}{%endblock%}
        <!-- errors -->
        {% if error %}
          <p class="error"><strong>Error: </strong>{{error}}</p>
        {% endif %}
        <br>
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <strong>Title</strong> --> {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
            <!-- footer -->
        {%include "footer.html"%}
      </div>
    </div>
</body>

</html>