<h1>Attendance project</h1>

<html>
  <body>
    <h1>First Name</h1>
    <form method="POST" action="/">
      <input type="text" name="first name">
      <input type="submit" value="Add">
    </form>
  </body>

  <h1>students first name</h1>
    {% for user in users %}
      <p>{{user.fname}}</p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{user.fname}}" name="oldfname">
        <input type="text" value="{{user.fname}}" name="newfname">
        <input type="submit" value="Update">
      </form>
    {% endfor %}
</html>