{%extends "layout.html"%}
{%block content%}
<div class="parent"> 
    <h1>Attendance project</h1>
    {% from "formhelpers.html" import render_field %}
    <div class="addform">
        <form method="POST" action="/">
            {{ render_field(form.fname) }}
            {{ render_field(form.lname) }}
            <input type="submit" value="Add"> 
        </form>
    </div>

    <h2>users</h2>
    {%for user in users %}
    <p>{{user.fname}}</p>
    <form method="POST" action="./update">
    <input type="hidden" value="{{user.fname}}" name="oldfname">
    <input type="text" value="{{user.fname}}" name="newfname">
    <p>{{user.lname}} </p>
    <input type="hidden" value="{{user.lname}}" name="oldlname">
    <input type="text" value="{{user.lname}}" name="newlname">
    <input type="submit" value="Update">
    </form>

 
    <form method="POST" action="./delete">
        <input type="hidden" value="{{user.fname}}" name="fname">
        <input type="submit" value="Delete">
      </form>
    {%endfor%}
</div>
{%endblock%}
</html>