{%extends "layout.html"%}
{%block content%}
<head>
    <title>home page </title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <h1>home</h1>
        <br>
        <a>Click <a href="/logout">here </a> to logout</a>
        <br>
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
</body>


{%endblock%}
