{%extends "layout.html"%}
{%block content%}
<head>
    <title> view user page </title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    
</body>
    <div class="container"> 
        <h1>Attendance project</h1>
        {% from "formhelpers.html" import render_field %}
        <div class="addform">
            <form method="POST" action="/">
                {{ render_field(form.fname) }}
                {{ render_field(form.lname) }}
                {{ render_field(form.student_id) }}
                {{ render_field(form.auth) }}
                <input type="submit" value="Add"> 
            </form>
        </div>

        <h2>users</h2>
        {%for user in users %}
        <h3>first name</h3>
        <p>{{user.fname}}</p>
        <form method="POST" action="./update">
            <input type="hidden" value="{{user.fname}}" name="oldfname">
            <input type="text" value="{{user.fname}}" name="newfname">
        <h3>last name</h3>
        <p>{{user.lname}} </p>
            <input type="hidden" value="{{user.lname}}" name="oldlname">
            <input type="text" value="{{user.lname}}" name="newlname">
        <h3>student id</h3>
        <p>{{user.student_id}} </p>
            <input type="hidden" value="{{user.student_id}}" name="oldstudent_id">
            <input type="text" value="{{user.student_id}}" name="newstudent_id">
        <p>{{user.auth}}</p> </p>
            <input type="hidden" value="{{user.auth}}" name="oldauth">
            <input type="text" value="{{user.auth}}" name="newauth">
            <input type="submit" value="Update">
        </form>

    
        <form method="POST" action="./delete">
            <input type="hidden" value="{{user.fname}}" name="fname">
            <input type="submit" value="Delete">
        </form>

        {%endfor%}
    </div>
</body>
{%endblock%}